version: '3.8'

services:

  laravel_app:
    image: ghcr.io/youssefat928/elm-partnershipautomation-app:latest
    container_name: laravel_app
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    restart: always

  laravel_nginx:
    image: nginx:latest
    container_name: laravel_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - laravel_app
    restart: always
